
<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <title>Doctor Appointment Booking</title>

    <link rel="stylesheet" href="{% static 'style.css' %}">

    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap" rel="stylesheet">
</head>

<body>

<div class="main-container">

    <h1 class="title">Instant Health Connect</h1>
    <p style="color:#d8fcff; text-align:center; margin-bottom:15px;">
        Book trusted doctors near you
    </p>
    
    <div class="form-card">

        <form id="bookingForm">

            <label>Full Name</label>
            <input type="text" id="patient_name" required>

            <label>Mobile Number</label>
            <input type="tel" id="patient_phone" required>

            <label>Select Hospital</label>
            <select id="hospital" required>
                <option value="">Loading hospitals...</option>
            </select>

            <label>Select Doctor</label>
            <select id="doctor" required>
                <option value="">Select hospital first</option>
            </select>

            <label>Date</label>
            <input type="date" id="date" required>

            <label>Time Slot</label>
            <input type="time" id="time" required>

            <button type="submit">Confirm Appointment</button>

        </form>

        <div id="status"></div>

    </div>

</div>

<script src="{% static 'script.js' %}"></script>

</body>
</html>
